In [186]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [187]:
df = pd.read_csv('C:\\Users\\kats1\\OneDrive\\Documents\\GitHub\\PopularGameGenrePy\\ign.csv', header=0, index_col=0)
#df.set_index('ID')
# df.index.name = 'ID'
# df.describe()
# df.head()
df.index+=1
df.drop(['url','release_month','release_day','title','score_phrase'], axis=1,inplace=True)

df.dtypes

platform           object
score             float64
genre              object
editors_choice     object
release_year        int64
dtype: object

In [188]:
df.head(50)
sort_by_year = df.sort_values(['release_year','platform','genre'])

#sort_by_year = pd.DataFrame(sort_by_year)
type(sort_by_year)

pandas.core.frame.DataFrame

In [189]:
sort_by_year.head()

        platform  score      genre editors_choice  release_year
517     Xbox 360    8.5  Adventure              N          1970
589  Nintendo 64    6.5     Action              N          1996
484  Nintendo 64    4.1   Fighting              N          1996
591  Nintendo 64    6.5   Fighting              N          1996
489  Nintendo 64    8.2     Flight              N          1996

In [190]:
sort_by_year.score = sort_by_year.score.astype(int)
sort_by_year.head()

        platform  score      genre editors_choice  release_year
517     Xbox 360      8  Adventure              N          1970
589  Nintendo 64      6     Action              N          1996
484  Nintendo 64      4   Fighting              N          1996
591  Nintendo 64      6   Fighting              N          1996
489  Nintendo 64      8     Flight              N          1996

genre_score_year = sort_by_year[['genre','score','release_year']]
genre_score_year = pd.DataFrame(genre_score_year)
genre_score_year.head()

In [191]:
sort_by_year.drop('editors_choice',axis=1,inplace=True)

In [192]:
#sort_by_year.drop(sort_by_year.index[0],inplace=True)
sort_by_year.reset_index(drop = True)[:10]

      platform  score       genre  release_year
0     Xbox 360      8   Adventure          1970
1  Nintendo 64      6      Action          1996
2  Nintendo 64      4    Fighting          1996
3  Nintendo 64      6    Fighting          1996
4  Nintendo 64      8      Flight          1996
5  Nintendo 64      9  Platformer          1996
6  Nintendo 64      9      Racing          1996
7  Nintendo 64      4      Racing          1996
8  Nintendo 64      7      Sports          1996
9           PC      6      Sports          1996

In [193]:
sort_by_year.isnull().any()
sort_by_year.dropna()
sort_by_year.describe()

              score  release_year
count  18625.000000  18625.000000
mean       6.627758   2006.515329
std        1.702287      4.587529
min        0.000000   1970.000000
25%        6.000000   2003.000000
50%        7.000000   2007.000000
75%        8.000000   2010.000000
max       10.000000   2016.000000

In [194]:
list_genre = sort_by_year['genre'].unique().tolist()

In [195]:
print(len(list_genre))
print(list_genre)

113
['Adventure', 'Action', 'Fighting', 'Flight', 'Platformer', 'Racing', 'Sports', 'Action, Adventure', 'Action, Compilation', 'Compilation', 'Flight, Action', 'Puzzle', 'RPG', 'Racing, Action', 'Shooter', 'Simulation', 'Strategy', 'Wrestling', 'Action, RPG', 'Casino', 'Fighting, Compilation', 'Hunting', 'Music', 'Pinball', 'Puzzle, Action', 'Sports, Action', 'Battle', 'Board', 'Sports, Racing', 'Action, Simulation', 'Flight, Simulation', 'Sports, Simulation', 'Trivia', 'Music, Action', 'Strategy, RPG', 'Fighting, Action', 'Other', 'Party', 'Action, Platformer', 'Puzzle, Adventure', 'Educational, Puzzle', 'Productivity', 'Virtual Pet', 'Racing, Simulation', 'Card, Battle', 'Sports, Editor', 'Music, Editor', 'RPG, Editor', 'Educational, Action', 'Card', 'Card, RPG', 'Fighting, Adventure', 'Wrestling, Simulation', 'RPG, Compilation', 'RPG, Simulation', 'Flight, Racing', 'Sports, Compilation', 'Shooter, Platformer', 'Hunting, Simulation', 'Fighting, RPG', 'Pinball, Compilation', 'Card, Compilation', 'Racing, Compilation', 'Racing, Editor', 'Racing, Shooter', 'Other, Action', 'Puzzle, Compilation', 'Adult, Card', 'Educational', 'Educational, Productivity', 'Educational, Simulation', 'Educational, Trivia', 'Compilation, Compilation', 'Board, Compilation', 'Platformer, Action', 'Action, Editor', 'Hunting, Action', nan, 'Puzzle, Word Game', 'Adventure, Compilation', 'Educational, Card', 'Educational, Adventure', 'Strategy, Compilation', 'Music, Compilation', 'Fighting, Simulation', 'Platformer, Adventure', 'Shooter, RPG', 'Other, Adventure', 'Simulation, Adventure', 'Adventure, Episodic', 'Adventure, Adult', 'Adventure, Platformer', 'Action, Puzzle', 'Sports, Fighting', 'Puzzle, RPG', 'Music, RPG', 'Adventure, Adventure', 'Adventure, RPG', 'Productivity, Action', 'RPG, Action', 'Shooter, First-Person', 'Baseball', 'Compilation, RPG', 'Sports, Baseball', 'Sports, Other', 'Sports, Party', 'Puzzle, Platformer', 'Action, Strategy', 'Music, Adventure', 'Strategy, Simulation', 'Sports, Golf', 'Hardware', 'Shooter, Adventure']

In [196]:
replace_genre = {'Action':'Action', 'Action, Adventure':'Action', 'Action, Compilation':'Action', 'Action, Platformer':'Action', 'Action, RPG':'RPG', 'Action, Simulation':'Simulation', 'Adventure':'Adventure', 'Battle':'Action', 'Board':'Strategy', 'Card':'Card', 'Card, Battle':'Strategy', 'Card, RPG':'RPG', 'Casino':'Others', 'Compilation':'Others', 'Educational, Action':'others','Educational, Puzzle':'Strategy', 'Fighting':'Action', 'Fighting, Action':'Action', 'Fighting, Adventure':'Adventure', 'Fighting, Compilation':'Action', 'Flight':'Adventure', 'Flight,Action':'Action', 'Flight, Racing':'Sports', 'Flight, Simulation':'Simulation', 'Hunting':'Sport', 'Music':'Other', 'Music, Action':'Action', 'Music, Editor':'Simulation', 'Other':'Other', 'Party':'Other', 'Pinball':'Sport',
                 'Platformer':'Other', 'Productivity':'Other', 'Puzzle':'Strategy', 'Puzzle, Action':'Strategy', 'Puzzle, Adventure':'Strategy', 'RPG':'RPG', 'RPG, Compilation':'RPG', 'RPG, Editor':'RPG',
                 'RPG, Simulation':'RPG', 'Racing':'Sport', 'Racing, Action':'Action', 'Racing, Simulation':'Simulation', 'Shooter':'Sport', 'Simulation':'Simulation', 'Sports':'Sport', 'Sports, Action':'Action',
                 'Sports, Compilation':'Sport', 'Sports, Editor':'Sport', 'Sports, Racing':'Sport', 'Sports, Simulation':'Simulation', 'Strategy':'Strategy', 'Strategy, RPG':'RPG', 'Trivia':'Other',
                 'Virtual Pet':'Simulation', 'Wrestling':'Sport', 'Wrestling, Simulation':'Simulation', 'Action, Editor':'Action', 'Adult, Card':'Other', 'Board, Compilation':'Other', 'Card, Compilation':'Other',
                 'Compilation, Compilation':'Compilation', 'Educational':'Other', 'Educational, Productivity':'Other', 'Educational, Simulation':'Other', 'Educational, Trivia':'Strategy',
                 'Fighting, RPG':'RPG', 'Hunting, Action':'Action', 'Hunting, Simulation':'Simulation', 'Other, Action':'Action', 'Pinball, Compilation':'Other', 'Platformer, Action':'Action',
                 'Puzzle, Compilation':'Strategy', 'Racing, Compilation':'Sport', 'Racing, Editor':'Sport', 'Racing, Shooter':'Action', 'Shooter, Platformer':'Action',
                 'Puzzle, Word Game':'Other', 'Adventure, Compilation':'Action', 'Educational, Card':'Other', 'Educational, Adventure':'Other', 'Strategy, Compilation':'Strategy',
                 'Music, Compilation':'Other', 'Fighting, Simulation':'Simulation', 'Platformer, Adventure':'Simulation', 'Shooter, RPG':'RPG', 'Other, Adventure':'Other', 'Simulation, Adventure':'Simulation',
                 'Adventure, Episodic':'Simulation', 'Adventure, Adult':'Simulation', 'Adventure, Platformer':'Simulation', 'Action, Puzzle':'Other', 'Sports, Fighting':'Sport', 'Puzzle, RPG':'RPG',
                 'Music, RPG':'RPG', 'Adventure, Adventure':'Action', 'Adventure, RPG':'RPG', 'Productivity, Action':'Action', 'RPG, Action':'RPG', 'Shooter, First-Person':'Action',
                 'Baseball':'Sport', 'Compilation, RPG':'RPG', 'Sports, Baseball':'Sport', 'Sports, Other':'Sport', 'Sports, Party':'Sport', 'Puzzle, Platformer':'Other', 'Action, Strategy':'Strategy',
                 'Music, Adventure':'Other', 'Strategy, Simulation':'Strategy', 'Sports, Golf':'Other', 'Hardware':'Other', 'Shooter, Adventure':'Action'}                                                                                          

genres = sort_by_year.genre.map(replace_genre)

In [197]:
genres

517      Adventure
589         Action
484         Action
591         Action
489      Adventure
515          Other
485          Sport
487          Sport
590          Sport
467          Sport
403         Action
405         Action
414         Action
419         Action
420         Action
423         Action
427         Action
437         Action
440         Action
441         Action
443         Action
448         Action
452         Action
454         Action
455         Action
456         Action
459         Action
460         Action
462         Action
469         Action
           ...
18624    Adventure
18496       Action
18566       Action
18417        Other
18423        Other
18424        Other
18583        Other
18355     Strategy
18452          RPG
18456        Sport
18475        Sport
18483        Sport
18538        Sport
18589        Sport
18460        Sport
18497        Sport
18518        Sport
18549        Sport
18552        Sport
18557        Sport
18572        Sport
18603        Sport
18612        Sport
18598       Action
18387        Sport
18453        Sport
18465        Sport
18469        Sport
18608       Action
18420          RPG
Name: genre, Length: 18625, dtype: object