In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [97]:
df = pd.read_csv('C:\\Users\\kats1\\OneDrive\\Documents\\GitHub\\PopularGameGenrePy\\ign.csv', header=0, index_col=0)
#df.set_index('ID')
# df.index.name = 'ID'
# df.describe()
# df.head()
df.index+=1
df.drop(['url','release_month','release_day','title','score_phrase'], axis=1,inplace=True)

df.dtypes

platform           object
score             float64
genre              object
editors_choice     object
release_year        int64
dtype: object

In [98]:
df.head(50)
sort_by_year = df.sort_values(['release_year','platform','genre'])

#sort_by_year = pd.DataFrame(sort_by_year)
type(sort_by_year)

pandas.core.frame.DataFrame

In [99]:
sort_by_year.head()

        platform  score      genre editors_choice  release_year
517     Xbox 360    8.5  Adventure              N          1970
589  Nintendo 64    6.5     Action              N          1996
484  Nintendo 64    4.1   Fighting              N          1996
591  Nintendo 64    6.5   Fighting              N          1996
489  Nintendo 64    8.2     Flight              N          1996

In [100]:
sort_by_year.score = sort_by_year.score.astype(int)
sort_by_year.head()

        platform  score      genre editors_choice  release_year
517     Xbox 360      8  Adventure              N          1970
589  Nintendo 64      6     Action              N          1996
484  Nintendo 64      4   Fighting              N          1996
591  Nintendo 64      6   Fighting              N          1996
489  Nintendo 64      8     Flight              N          1996

genre_score_year = sort_by_year[['genre','score','release_year']]
genre_score_year = pd.DataFrame(genre_score_year)
genre_score_year.head()

In [108]:
sort_by_year
sor = sort_by_year.groupby('genre')

sor.head()

,platform,score,genre,editors_choice,release_year
517,Xbox 360,8,Adventure,N,1970
589,Nintendo 64,6,Action,N,1996
484,Nintendo 64,4,Fighting,N,1996
591,Nintendo 64,6,Fighting,N,1996
489,Nintendo 64,8,Flight,N,1996
515,Nintendo 64,9,Platformer,Y,1996
485,Nintendo 64,9,Racing,Y,1996
487,Nintendo 64,4,Racing,N,1996
590,Nintendo 64,7,Sports,N,1996
467,PC,6,Sports,N,1996
403,PlayStation,3,Action,N,1996
405,PlayStation,7,Action,N,1996
414,PlayStation,6,Action,N,1996
419,PlayStation,2,Action,N,1996
464,PlayStation,8,"Action, Adventure",N,1996
402,PlayStation,6,"Action, Compilation",N,1996
429,PlayStation,8,"Action, Compilation",N,1996
524,PlayStation,8,"Action, Compilation",N,1996
404,PlayStation,6,Adventure,N,1996
413,PlayStation,7,Adventure,N,1996
421,PlayStation,6,Adventure,N,1996
422,PlayStation,7,Adventure,N,1996
475,PlayStation,7,Compilation,N,1996
406,PlayStation,2,Fighting,N,1996
407,PlayStation,6,Fighting,N,1996
425,PlayStation,6,Fighting,N,1996
428,PlayStation,6,"Flight, Action",N,1996
453,PlayStation,7,"Flight, Action",N,1996
511,PlayStation,8,"Flight, Action",N,1996
410,PlayStation,7,Platformer,N,1996
...,...,...,...,...,...
17707,PlayStation 3,4,Baseball,N,2014
17515,PlayStation 3,8,"Compilation, RPG",N,2014
18039,PlayStation 3,8,"Compilation, RPG",N,2014
17695,PlayStation 3,9,"Platformer, Adventure",Y,2014
17633,PlayStation 3,8,"Sports, Baseball",N,2014
17596,PlayStation 4,6,"Adventure, Adventure",N,2014
17691,PlayStation 4,9,"Platformer, Adventure",Y,2014
17634,PlayStation 4,8,"Sports, Baseball",N,2014
17720,PlayStation Vita,7,"Sports, Baseball",N,2014
17590,Xbox 360,6,"Adventure, Adventure",N,2014
17624,Xbox 360,8,"Shooter, First-Person",Y,2014
17598,Xbox One,6,"Adventure, Adventure",N,2014
17918,Xbox One,8,"Productivity, Action",N,2014
17623,Xbox One,8,"Shooter, First-Person",Y,2014
17625,Xbox One,8,"Shooter, First-Person",Y,2014
17488,Xbox One,7,"Sports, Other",N,2014
17630,Xbox One,7,"Sports, Party",N,2014
18164,Nintendo 3DS,8,"Puzzle, Platformer",N,2015
18155,PC,7,"Action, Strategy",N,2015
18146,PC,7,"Adventure, RPG",N,2015
18191,PC,8,"Music, Adventure",Y,2015
18113,PC,8,"Strategy, Simulation",N,2015
18145,PlayStation 4,7,"Adventure, RPG",N,2015
18206,Xbox One,5,"Sports, Golf",N,2015
18413,PC,6,"Fighting, Simulation",N,2016
18491,PC,9,Hardware,Y,2016
18534,PC,9,Hardware,Y,2016
18516,PlayStation 4,5,"Action, Platformer",N,2016
18537,PlayStation 4,5,"Action, Platformer",N,2016
18598,Xbox One,4,"Shooter, Adventure",N,2016

In [91]:
replace_values = {'Small' : 1, 'Medium' : 2, 'High' : 3 }                                                                                          

state_df = state_df.replace({"state": replace_values})

,517,589,484,591,489,515,485,487,590,467,...,18572,18603,18612,18598,18387,18453,18465,18469,18608,18420
genre,Adventure,Action,Fighting,Fighting,Flight,Platformer,Racing,Racing,Sports,Sports,...,Shooter,Shooter,Shooter,"Shooter, Adventure",Sports,Sports,Sports,Sports,Battle,RPG
score,8,6,4,6,8,9,9,4,7,6,...,9,7,5,4,8,8,9,8,7,5
release_year,1970,1996,1996,1996,1996,1996,1996,1996,1996,1996,...,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016

In [92]:
df_t.groupby(genre)

NameError: name 'genre' is not defined